<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'encuesta_region:votar' region.id %}" method="post">
{% csrf_token %}
<table>
    <tr>
        <td>Nombres</td>
        <td><input type="text" name="nombres"></td>
    </tr>
    <tr>
        <td>Apellidos</td>
        <td><input type="text" name="apellidos"></td>
    </tr>
    <tr>
        <td>Partido politico</td>
        <td><input type="text" name="partido_politico"></td>
    </tr>
    <tr>
        <td>Region</td>
        <td>
            {% for region in latest_question_list %}
            <input type="radio" name="region_id" id="region{{ forloop.counter }}" value="{{ region.id }}">
            <label for="opcion{{ forloop.counter }}">{{ region.region_nombre }}</label><br>
            {% endfor %}
        </td>
    </tr>
</table>
<input type="submit" value="Agregar">
</form>
<br/>
<a href="{% url 'encuesta_region:index' %}">Ver regiones</a>
</body>
</html>


